<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
</head>
<body>
    <form action="main/test/" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form }}
            <p>
                <input type="submit" value="Enter">
            </p>
    </form>
    <p>
        <form action="main/test/" method="get" enctype="multipart/form-data">
         {% csrf_token %}
            <p>
                <input type="submit" value="GET">
            </p>
        </form>
    </p>
</body>
</html>